.page-wrap#home
  //- Navigation
  .nav-wrap
    label.nav-switch-label(for="nav-switch")
      |  X
    input.nav-switch(type="checkbox" id="nav-switch")
    div.nav-title
      | J.R Davenport Web developer
    nav
      ul
        li
          a(href="#home")
            | Home
        li
          a(href="#about")
            | About
        li
          a(href="#work")
            | Work
        li
          a(href="#contact")
            | Contact
  //- Main content wrap
  .content-wrap
    //- Landing page splash
    header.hero
      span
        h1
          | James R. Davenport
        h2
          | Web Developer
      .big-stars
      .small-stars
    //- Quotes section
    .quotes
      .fold-left
        blockquote
          | He's systematic, hydromatic ,automatic
          | Why, it's greased lightning!
          cite
            | Ryder
      .q-spacer      
      .fold-right
        blockquote
          | he'll do press ups, and chinups, and     the
          | snatch, clean and jerk. He thinks     dynamic tension Must be hard work.
          cite
           | Frank.N.furter
    //- About me section
    article#about
      .heyiam
          | Hi, I’m James. A self taught   developer doing what I love the most;  creating responsive applications for mobile and web.
        .skills-wrap
          p I am experienced with
          .skills
            ul
              li HTML5
              li CSS
              li Sass
              li Jade
              li Javascript
              li JQuery
              li Angular
              li PHP
              li Wordpress
              li Git
              li SEO
    //- Work section          
    article#work
      header Some of my work
      //- example projects
      .projects
        //- EbonyFeare.com 
        .project
          img(src="https://www.dropbox.com/s/3esmjim93tahovi/ebs.png?dl=1")
          h2
            span
              | EbonyFeare.com &nbsp;              
        //- Sheep knuckle
        .project
          img(src="https://www.dropbox.com/s/4suhrmqv7dtgbm9/sheep.png?dl=1")
          h2
            span
              | Sheep Knuckle &nbsp;
        
        //- Appition
        .project
          img(src="https://www.dropbox.com/s/8xj7fqjg9slq4ct/appition.png?dl=1")
          h2
            span
              | Appition  Prototype &nbsp;
        
        //- Tash art
        .project
          img(src="https://www.dropbox.com/s/qb2fbbh1teb1sh5/book.png?dl=1")
          h2
            span
              | JS generated art  &nbsp;
                      
        //- TODO: Bitethelip
        .project
          img(src="http://unsplash.it/400/400")
          h2
            span
              | Project name  &nbsp;
                      
        //- 
        .project
          img(src="http://unsplash.it/400/400")
          h2
            span
              | Project name  &nbsp;
      
    //- Contact section
    article#contact
      
      ol
        li
          a(href="https://uk.linkedin.com/in/james-davenport-ba448098") LinkedIn
        li
          a(href="https://twitter.com/JD_aka_Techy") Twitter
        li
          a(href="https://github.com/JD-aka-Techy") Github
