h1 State Contiguity(border links)

.chart-wrap

ul.attrib Sources:
  li flag images courtesy of https://www.flag-sprites.com
  li link data https://raw.githubusercontent.com/DealPete/forceDirected/master/countries.json
  li further country informaton via restcountries.eu
  
.toolTip
  .country
    .flag-box
    .name
  .nationality
  .capital
  .population
  .region
  .currency
  
