html
  body
    .wrap.text-center.container-fluid
      .content-wrap.container-fluid
        .row Work length
        .row
          #dedWork.col-md-4.pointer -
          .uptime.col-md-4
          #addWork.col-md-4.pointer +
        #clock.timer.row.pointer
          #seconds.seconds.col-md-12
        .row Play length
        .row
          #dedPlay.col-md-4.pointer -
          .downtime.col-md-4
          #addPlay.col-md-4.pointer +
        #reset.row Reset
