.menu
  .new-game-button
    .result
    h4 New Game
  .change-player Change Player
  .settings
    .choice.cross
    .choice.nought  

// can probably trim this down and not use rows
.board 
  .row
    input(type='radio')
    label#0.cell
  
    input(type='radio')
    label#1.cell
  
    input(type='radio')
    label#2.cell
  
  .row
    input(type='radio')
    label#3.cell
  
    input(type='radio')
    label#4.cell
  
    input(type='radio')
    label#5.cell
  
  .row
    input(type='radio')
    label#6.cell
  
    input(type='radio')
    label#7.cell
  
    input(type='radio')
    label#8.cell
