.chart-wrap
  .titles
    h1 Doping in Professional Cycling
    h2 Fastest Times up Alpe d'Huez
    span Normalised to 13.8km

  #info
    .rider
      .nation
      .name
    .year
    .time
    .dope
    .url

ul.attrib Sources:
  li
    a(href="https://en.wikipedia.org/wiki/Alpe_d%27Huez") https://en.wikipedia.org/wiki/Alpe_d%27Huez
  li
    a(href="http://www.fillarifoorumi.fi/forum/showthread.php?38129-Ammattilaispy%F6r%E4ilij%F6iden-nousutietoja-%28aika-km-h-VAM-W-W-kg-etc-%29&p=2041608#post2041608") http://www.fillarifoorumi.fi/forum/showthread.php?38129-Ammattilaispy%F6r%E4ilij%F6iden-nousutietoja-%28aika-km-h-VAM-W-W-kg-etc-%29&p=2041608#post2041608
  li
    a(href="https://alex-cycle.blogspot.com/2015/07/alpe-dhuez-tdf-fastest-ascent-times.html") https://alex-cycle.blogspot.com/2015/07/alpe-dhuez-tdf-fastest-ascent-times.html
  li
    a(href="http://www.dopeology.org/") http://www.dopeology.org/
