.game
  
  .button.green#green
  .button.red#red  
  .button.yellow#yellow
  .button.blue#blue
  .controls
    .title
      | Simon
    #round
      |  --
    .strict-butt
      | Strict mode OFF
    .reset
