.chart-wrap
  h1 U.S. Quarterly GDP
  
.info
  p  Units: Billions of Dollars Seasonal Adjustment: Seasonally Adjusted Annual Rate Notes: A Guide to the National Income and Product Accounts of the United States (NIPA)
    a(href='http://www.bea.gov/national/pdf/nipaguid.pdf') 
      |  http://www.bea.gov/national/pdf/nipaguid.pdf

.toolTip
  .gdp
  .date
